input {
   border-bottom: 2px solid #f2f2f5;
   padding: 7px;
   color: #98a3b3;
}

input::placeholder {
   font-style: italic;
   color: #e5e3e3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
